<div class="discount">
  <div class="container">
    <div class="row">
      <div class="col-12 p-0">
        <div class="top">
          <div class="content d-flex justify-content-around align-items-center">
            <h2 class="title text-center m-0">
              $75 <br />
              ЗНИЖКА
            </h2>
            <div class="subtitle">
              <h6>промокод</h6>
              <h3>Знижка $75 готівкою при проживанні від 10 ночей</h3>
              <p class="text m-0">29 користувачів використали промокод</p>
            </div>
            <a class="take-discount text-decoration-none rounded-pill" href="#">Отримати знижку</a>
          </div>
        </div>
        <div class="bottom">
          <div class="text-center">
            <button class="button">Дивіться подробиці <i class="fa-sharp fa-regular fa-chevron-down"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
