.rest {
  margin: 56px 0 48px 0;
  .title {
    margin-top: 25px;
    cursor: pointer;
    h2 {
      position: relative;
      font-family: 'Trebuchet MS';
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 130%;
      color: black;
      transition: 0.3s ease color;
      &:hover {
        color: #cb0000;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        border-bottom: 1px solid black;
        opacity: 0.25;
      }
    }
    span {
      font-family: 'Trebuchet MS';
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 130%;
    }
  }
  .subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  .sales {
    display: flex;
    flex-direction: column;
    position: relative;
    &::after {
      content: '$90';
      text-decoration: line-through solid #cb0000;
      position: absolute;
      right: 0;
      bottom: -20px;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #777777;
    }
  }
}
